.container2{
	
	padding-left: 40px;
	color: #E4EBE0;
	padding-top: 10px;
	position:absolute;
}


.probootstrap-logo{


}

.menu_white{
	padding-top:10px;
	color: #E4EBE0;
}
.bgblack{
	padding-top:10rem;
    padding-bottom:calc(10rem - 56px);
    background-image:url(../img/Logo_Enclosed.svg);
    background-position:center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.body {
  margin: 0;
  height: 1000px;

	
}

.button-padding {
	padding-top: 60px;
}

.fade-scroll {
}

.mystory {
	padding-top:10px;
}
.nullhero{
	background: transparent;

}

.img_cs_shadow{
	box-shadow: 2px 2px 4px 2px #626262;

}

.img_top_padding_30 {
	padding-top: 30px;
}

.section-coloring {
    background:#263F60;
	background:-webkit-gradient(linear,left top,right top,from(#263F60),to(#000000));
	background:linear-gradient(#2B4573 60%,#282828 100%);
	color:#E7E7E7;
	text-shadow: 1pt 1pt 1pt #000000;
}

.section-coloring h2{
	color:#ffffff;
}